@import "partials/base";
@import "partials/admin_constants";

#admin_body {

#everything {
  background: #7090af;
  @include border-radius(15px);
  @include column($blueprint-grid-columns, true);
}

#menubar {
  @include prepend-top($half-column/2);
  @include column($menubar-columns);

  ul {
    @include no-bullets;

    li {
      // Menu stuff here...
      font-weight: bold;
    }
  }
}

#content {
  background: #e0e0e0;
  @include border-radius-with-padding(20px);
  @include column($content-columns, true);
  margin-bottom: 1.5em;
}

#header, #footer {
  @include push($menubar-columns);
  margin-bottom: 0;
  @include column($content-columns, true);
  @include last;
}
}
