@import "partials/base";

#admin_body {

background: #7090af;

$menubar-columns: 2;
#menubar {
  @include column($menubar-columns);
}

//$content-push: ($menubar-columns) / 2;
$content-push: 0;
$content-columns: $blueprint-grid-columns - $menubar-columns;
#content {
  background: #e0e0e0;
  @include border-radius( 20px );
  //@include padding($half-column, 0);
  @include column($content-columns, true);
  //padding-left: 5px;
}

}
