@import "partials/base";

#admin_body {

background: #7090af;


$menubar-columns: 2;
#menubar {
  @include prepend-top($half-column/2);
  @include column($menubar-columns);

  ul {
    @include no-bullets;

    li {
      // Menu stuff here...
      font-weight: bold;
    }
  }
}

$content-columns: $blueprint-grid-columns - $menubar-columns - 1;
#content {
  background: #e0e0e0;
  @include border-radius-with-padding(20px);
  @include column($content-columns, true);
}

#header, #footer {
  @include push($menubar-columns);
  margin-bottom: 0;
  @include column($content-columns, true);
}
}
