<div id="services">
  <h4>Services</h3>
  <div class="sermons_link_table">
<%= service_link "All" %>
  <% @service_names.each do |service| %>
    <span><%= service_link service %></span>
  <% end %>
</div>
</div>
