<div id="services">
  <div class="sermon_links_column">
  <h4>Services</h4>
<%= service_link "All" %>
  <% @service_names.each do |service| %>
    <%= service_link service %>
  <% end %>
</div>
</div>
