<div id="sermon_links">
<% if show_all_sermons_link %>
  <h4 id='all_sermons_link'><%= link_to 'View All Sermons', sermons_path %></h4>
<% end %>
<% if not domain_search_restrictions.include?(:book) %>
  <%= render 'book_links' %>
<% end %>

<% if not domain_search_restrictions.include?(:service) %>
  <%= render 'service_links' %>
<% end %>

<% if not domain_search_restrictions.include?(:speaker) %>
  <%= render 'speaker_links' %>
<% end %>
</div>
