<h3>Most Recent</h3>
<div id="sermons_area">
  <% if @sermons.empty? %>
    <p>No sermons found!</p>
  <% else %>
    <%= render partial: "sermons_header", locals: { sortable: false } %>
    <%= render partial: "sermon", collection: @sermons %>
  <% end %>
</div>

<div id="sermon_archive">
  <h3>Sermon Archive</h3>
  <%= render 'sermon_links' %>
</div>
