<h3>Most Recent</h3>
<div id="sermons_area">
  <%= render partial: "sermons_header", locals: { sortable: false } %>
  <%= render partial: "sermon", collection: @sermons %>
</div>

<div id="sermon_archive">
  <h3>Sermon Archive</h3>
  <%= render 'sermon_links' %>
</div>
