// Here is where you can define your constants for your application and to configure the blueprint framework.
// Feel free to delete these if you want keep the defaults:

$blueprint-container-size: 960px;
@import "blueprint/colors";
@import "blueprint/grid";
@import "compass/utilities/general/float";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/typography";

$blueprint-container-size: 950px;
$blueprint-grid-columns: 24;
$blueprint-grid-margin: 10px;

// Use this to calculate the width based on the total width.
// Or you can set $blueprint-grid-width to a fixed value and unset $blueprint-container-size -- it will be calculated for you.
$blueprint-grid-width: ($blueprint-container-size + $blueprint-grid-margin) / $blueprint-grid-columns - $blueprint-grid-margin;

$half-column: ($blueprint-grid-width + $blueprint-grid-margin) / 2;

@mixin padding($horizontal: $half-column, $top: $half-column/2, 
               $bottom: $half-column/2 ) {
  padding: {
    left: $horizontal;
    right: $horizontal;
    top: $top;
    bottom: $bottom;
  }
}

@mixin border-radius-with-padding($radius: 20px)  {
  @include border-radius($radius);
  @include padding($radius * 0.9, $radius * 0.45, $radius * 0.45);
}

// Add padding to look good with the border radius, and remove the
// same amount from the width of the element so that things don't get
// messed up.
@mixin column-with-border-radius-padding($columns, $radius, $last: false) {
  @include column($columns - ( $radius * 1.8 / ( $blueprint-grid-outer-width ) ),
                  $last);
  @include border-radius-with-padding($radius);
}

@mixin inner-shadow {
  @include box-shadow(rgba(0, 0, 0, 0.6) 0px 2px 1px 0px inset, 
                      rgba(255, 255, 255, 0.2) 0px 1px 0px 0px);
  padding-top: 2px;
}

@mixin single-row-selector {
  @include padding($half-column, 0, 0);
  @include border-radius(10px);
  @include inner-shadow;
  margin-bottom: 0.5em;
}

// Styles common to both main and admin sections. This shouldn't contain
// anything related to layout.
body.bp {

#container { @include container; }

a {
  @include hover-link;
}

}
