@import "partials/base";

#main-content {
$content-background: #fff;

$sermon-list-push: 1;
$sermon-list-columns: $blueprint-grid-columns - ( $sermon-list-push * 2 );

@include column($blueprint-grid-columns, true);
@include clearfix;

padding-left: 10px;
padding-right: 10px;
padding-top: 5px;
padding-bottom: 5px;
margin-top: 1.5em;
margin-bottom: 1.5em;

font-family: verdana, geneva;

background: $content-background;

#indented-content {
@include column($sermon-list-columns, true);
margin-left: 30px;
margin-right: 30px;
@include clearfix;

h3 {
  @include push($sermon-list-push / 2);
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: medium;
  color: #333333;
}

#sermons_area {
  background: $content-background;

  .sermon_row {
    @include column($sermon-list-columns);

    .sermon_date { @include column(3); }
    .sermon_service { @include column(2); }
    .sermon_speaker { @include column(4, true); }
    // These are unused for now.
    .sermon_title { @include column(10); }
    .sermon_passage { @include column(7); }
  }

  #sermon_list {
    //@include inner-shadow;
    //@include column-with-border-radius-padding($sermon-list-columns, 20px);
    @include column($sermon-list-columns, true);
    @include last;

    border-style: solid;
    border-color: #eee;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 0;
    border-right-width: 0;

    background: $content-background;
    margin-right: 0px;
    //margin-bottom: 0.5em;

    .sort_asc, .sort_desc {
      font-weight: bold;
    }

  }

  // Styles for pagination
  .paginate_block {
    @include column($sermon-list-columns, true);
    @include single-row-selector;
    .pagination {
      @include float-left;
    }
    .paginate_info {
      @include float-right;
    }
    @include clearfix;
  }

}

#sermon_links {
  @include column($sermon-list-columns, true);
  @include clearfix;
  h4 {
    text-align: center;
    font-size: medium;
  }

  .sermons_link_table {
    width: 100%;
    text-align: center;

    td {
      text-align: center;
    }

    span {
      margin-left: 30px;
      margin-right: 30px;
    }

  }

  #services {
    .service_current { font-style: italic; }
    .service_link {
      font-weight: 500;
      margin-left: 5px;
      margin-right: 5px;
    }
  }
    
}
}
}
