@import "partials/base";

#main-content {
$content-background: #fff;

$sermon-list-push: 1;
$sermon-list-columns: $blueprint-grid-columns - ( $sermon-list-push * 2 );

@include column($blueprint-grid-columns, true);
@include clearfix;

padding-left: 10px;
padding-right: 10px;
padding-top: 5px;
padding-bottom: 5px;
margin-top: 1.5em;
margin-bottom: 1.5em;

font-family: verdana, geneva;

background: $content-background;

#indented-content {
@include column($sermon-list-columns, true);
margin-left: 30px;
margin-right: 30px;
@include clearfix;

h3 {
  @include push($sermon-list-push / 2);
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: medium;
  color: #333333;
}

#sermons_area {
  background: $content-background;

  .sermon_row {
    @include column($sermon-list-columns, true);

    .sermon_audio, .sermon_mp3 {
      @include column(1);
      text-align: center;
    }
    .sermon_video { @include column(1); }
    .sermon_date { @include column(3); }
    .sermon_service { @include column(2); }
    .sermon_speaker { @include column(3); }
    .sermon_title { @include column(6); }
    .sermon_passage { @include column(5); }

    .sermon_field { min-height: 1px; }
    .sermon_list_header {
      min-height: 1px; 
      font-weight: 600;
    }
  }

  #sermon_list {
    //@include inner-shadow;
    //@include column-with-border-radius-padding($sermon-list-columns, 20px);
    @include column($sermon-list-columns, true);
    @include last;

    border-style: solid;
    border-color: #eee;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 0;
    border-right-width: 0;

    background: $content-background;
    margin-right: 0px;
    //margin-bottom: 0.5em;

    .sort_asc, .sort_desc {
      font-weight: bold;
    }

  }

  // Styles for pagination
  .paginate_block {
    @include column($sermon-list-columns, true);
    @include single-row-selector;
    .pagination {
      @include float-left;
    }
    .paginate_info {
      @include float-right;
    }
    @include clearfix;
  }

}

#sermon_archive {
  @include column($sermon-list-columns, true);
  @include clearfix;
  margin-top: 20px;
}

#sermon_links {
  @include column($sermon-list-columns, true);
  @include clearfix;

  #all_sermons_link {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: medium;
  }
}

.sermon_links_column {
  @include column(5);
  h4 {
    font-size: medium;
    margin-top: 15px;
  }
  a { display: block; }

  .book_current, .service_current, .speaker_current { font-style: italic; }

}
}
}
