@import "partials/base";

$sermon-content-columns: 24;

#content {
  $sermon-content-push: floor(($blueprint-grid-columns - $sermon-content-columns) / 2);
  @include push($sermon-content-push);
  @include column($sermon-content-columns);
  @include last;
}

#sermon_list {
  .sermon_row {
    @include column($sermon-content-columns);
  }
}

// Styles for pagination
.paginate_block {
  .pagination {
    @include float-left;
  }
  .paginate_info {
    @include float-right;
  }
  clear:both;
}

