<div id="bottom-menu">
					<div class="wrapper">
						
					</div>
				</div>
				<div id="section-five">
					<div id="section-five2">
						<div class="wrapper">
							<div id="s5modules" class="spacer">
																															</div>
															<div class="footer-mod">
<div class="moduletable"> 
</div> 
<table style="width: 614px; height: 55px;" align="center" border="0">
<tr>
<td style="width: 640px;" valign="bottom" align="center"><span style="font-size: 10pt; color: #FFFFFF;">© 2011 Calvary Chapel Mountain View.</span></td></tr>
<tr>
<td style="width: 640px;" valign="bottom" align="center"><span style="font-size: 10pt; color: #FFFFFF;"><a href="http://www.ccmv.org/index.php?option=com_wrapper&view=wrapper&Itemid=77" target="_blank">342 Sierra Vista Avenue
Mountain View, CA 94043</a> | Phone: (650) 961-9673</span></td>
</tr>
<tr>
<td style="width: 640px;" valign="bottom" align="center"><span style="font-size: 10pt; color: #FFFFFF;">Service Times | Sunday 10:00AM | Thursday Night 7:00 PM</span></td>
</tr>
<tr>
<td style="width: 640px;" valign="bottom" align="center"><span style="font-size: 10pt; color: #FFFFFF;">Office Hours | Tuesday, Wednesday, Friday 10:30 AM - 3:30 PM</span> <br /></td>
</tr>
</table>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-15960056-1");
pageTracker._trackPageview();
} catch(err) {}</script>
									
								</div>
													</div>
					</div>
				</div>
